* {
  margin: 0;
  padding: 0;
}

.App {
  background: #f78080;
  height: 100vh;
  overflow: hidden;
  display: flex; 
}  

img {
  width: 50%;
}

.wrapper{
  background-color: white;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(93, 96, 226);
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}

button{
  background-color: rgb(93, 96, 226);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}